/*
* CSS for MyRegioVincoGame
* @author Douglas Bell
*/
@font-face {
    font-family: 'Bellerose';
    src: url('Bellerose.ttf');
}

@font-face {
    font-family: 'Market Deco';
    src: url('Market_Deco.ttf');
}

.button {
    -fx-background-color: TRANSPARENT;
    -fx-padding: 0px;
}
#historybuttons {
    -fx-font-family: "Market Deco";
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: WHITE;
    -fx-font-size: 20;
}

.label {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: WHITE;
}

#hoverlabel {
    -fx-font-family: "Bellerose";
    -fx-text-alignment: CENTER;
    -fx-font-size: 22;
}

#titlelabel {
    -fx-font-family: "Market Deco";
    -fx-font-size: 50
}

#settingslabel {
    -fx-font-family: "Market Deco";
    -fx-font-size: 30;
}

#helptext {
    -fx-font-family: "Market Deco";
    -fx-font-size: 16;
}

#victorystats {
    -fx-font-family: "Market Deco";
    -fx-font-size: 22;
    -fx-padding: 5px;
}

#mapnotplayable {
    -fx-font-family: "Market Deco";
    -fx-text-alignment: CENTER;
    -fx-font-size: 25;
}

.scroll-pane > .viewport {
    -fx-background-color: TRANSPARENT;
}

.scroll-pane {
    -fx-background-color: TRANSPARENT;
}

.scroll-pane .scroll-bar:vertical .track 
{
    -fx-background-color: BLACK;
    -fx-border-color: BLACK;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar .increment-button, 
.scroll-pane .scroll-bar .decrement-button 
{
    -fx-background-color: BLACK;
    -fx-border-color: BLACK;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0    
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-background-color:WHITE;
    -fx-padding:0;
}
    
.scroll-pane .scroll-bar:vertical .thumb 
{
    -fx-background-color: WHITE;
    -fx-background-insets: 2, 0, 0;
}

.dialog-pane {
    -fx-background-color: black;
    -fx-font-family: "Market Deco";
    -fx-font-size: 22;
    -fx-text-fill: WHITE;
}
